b { 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#gameBox { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; 
    height: 800px;
    
   
}
h2 {
    white-space: nowrap;
}

#numb {
    display: inline-block;
}

#firstDiv {
    height: 200px;
    width: 100%;
    
}
img {
    height: 200px;
    width: 350px;
}

#secDiv {
    font-weight: 900;
    height: 20px;
    width: 100%;
}
#thirDiv {
    
    height: 400px;
    width: 100%;
}

#actualButtons {
    display: flex;
}

#firButton {
    background-color:green;
}

#secButton {
    background-color: blue;
}

#thiButton {
    background-color: red;
}
